#H {
    height: 100px;
    width: auto;
}

.navDiv ul {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-family: sans-serif;
}

nav {
    width: 73%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

.footer {
    background-color: #373738;
    height: 100px;
    margin-top: 100px;
}

.bottomNav ul{
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
